@charset "utf-8";

.fw {
// ---------------------------------------------------------------------------
//
// /sample/page.html
//
// ---------------------------------------------------------------------------
    .p-book {

        background-color: #0C913A;
        color: #fff;
        @include pd(80px 0);
        @include fontSize(21px);

        .introduction {

            &__title {
                @include fontSize(40.48px);
                font-weight: bold;
                @include mb(40px);
            }

            .book {

                &__image {

                }

                &__icon {

                }

                &__caption {
                    @include fontSize(18.24px);
                }
            }
        }

        .point {

            &__title {
                @include fontSize(33.46px);
                font-weight: bold;
                position: relative;
                @include mb(40px);

                &::before {
                    content: url('../images/book/hand.svg');
                    @include width(54.483px);
                    display: inline-block;
                    vertical-align: text-top;
                }
            }

            &__list {
                @include fontSize(36px);
            }

            &__item {
                + .point__item {
                    @include mt(40px);
                }
            }
        }
    }


}//.fw
