@charset "utf-8";

.fw {
// ---------------------------------------------------------------------------
//
// /sample/page.html
//
// ---------------------------------------------------------------------------

    .p-contact {
        background-color: #E6E6E6;
        @include pd(120px 0 90px, 20vw 0 20vw);
        text-align: center;
        color: #000;

        .inner {
            @include pd(0, 0 5vw);
        }

        .title {
            @include fontSize(36px, 5vw);
            font-weight: bold;
            @include mb(40px, 5vw);
        }

        .tel {
            @include fontSize(81.24px, 11.5vw);
            font-family: $font_din;
            color: #000;
            display: inline-block;
            line-height: 1;
        }

        .note {
            @include fontSize(13px, 3vw);
            @include mt(40px, 5vw);
        }
    }

}//.fw
