@charset "utf-8";

.fw {
// ---------------------------------------------------------------------------
//
// /sample/page.html
//
// ---------------------------------------------------------------------------

    .p-cv-seminar {
        @include pd(160px 0 130px);
        text-align: center;

        .title {
            @include fontSize(28px);
            line-height: 66px;
            font-weight: bold;
            @include mb(60px);
        }

        .note {
            @include fontSize(15px);
            @include mt(70px);
        }
    }


}//.fw
