@charset "utf-8";

.fw {
// ---------------------------------------------------------------------------
//
// /sample/page.html
//
// ---------------------------------------------------------------------------

    .p-cv-seminar {
        @include pd(160px 0 130px, 15vw 0 20vw);
        text-align: center;

        .title {
            @include fontSize(28px, 5vw);
            line-height: 66px;
            font-weight: bold;
            @include mb(60px, 0);

            @include max(s) {
                line-height: 2;
            }
        }

        .note {
            @include fontSize(15px, 3vw);
            @include mt(70px, 12vw);
        }
    }


}//.fw
