@charset "utf-8";

.fw {
// ---------------------------------------------------------------------------
//
// /sample/page.html
//
// ---------------------------------------------------------------------------
    .p-description {
        @include pd(50px 0 180px);

        .box {
            background-color: #FDFFE3;
            @include pd(80px 0 60px);
            text-align: center;
            @include fontSize(36px);
            @include mb(90px);
            line-height: 72px;
        }

        .more {
            @include fontSize(36px);
            @include mb(120px);
            text-align: center;
            position: relative;

            &__emph {
                @include fontSize(48px);
                font-weight: bold;
            }

            &::after {
                content: '';
                background-image: url('../images/description/man.png');
                background-repeat: no-repeat;
                background-size: 100%;
                background-position: center;
                position: absolute;
                @include bottom(0);
                @include right(-10px);
                @include width(198.172px);
                @include height(208.382px);
            }

        }

        .seminar {
            @include pt(30px);
            font-weight: bold;
            @include fontSize(24px);

            &__logo {
                @include mb(30px);
                max-width: 374px;
            }

            &__list {
                line-height: 48px;
            }

            &__item {
                text-indent: -1em;
                margin-left: 1em;
                &::before {
                    content: '・';
                }
            }

        }

    }


}//.fw
