@charset "utf-8";

.fw {
// ---------------------------------------------------------------------------
//
// /sample/index.html
//
// ---------------------------------------------------------------------------
    .p-fuan {

        background-color: #D4F2FF;
        @include pt(120px, 15vw);
        @include pb(40px, 15vw);
        text-align: center;

        .inner {
            background-image: url('./../images/fuan/fuanman.png');
            background-repeat: no-repeat;
            background-size: 142px;
            background-position: right bottom 40px;

            @include max(s) {
                background-size: 26vw;
                background-position: right 7vw bottom -2vw;
            }
        }

        .title {
            @include fontSize(52.47px, 5vw);
            font-weight: bold;

            &__emph {
                color: #0071BC;
                font-weight: bold;
                @include fontSize(73.74px, 7vw);
                font-family: $font_heavy;
            }
        }

        .list {
            color: #0071BC;
            @include fontSize(27.32px, 4.8vw);
            position: relative;
            @include height(300px, 68vw);
            @include mg(70px 0 90px, 10vw 0 30vw);

            %__item {
                font-weight: bold;
                display: inline-block;
                position: absolute;
                word-break: keep-all;

                &::before {
                    content: '';
                    position: absolute;
                    @include bottom(-10px);
                    background-image: url('../images/fuan/namisen.svg');
                    background-repeat: repeat-x;
                    background-size: auto;
                    background-position: center bottom;
                    width: 100%;
                    @include height(18px, 4vw);
                }
            }

            &__item {
                @extend %__item;

                &--1 {
                    @extend %__item;

                    // transform: rotate(-9.6deg);
                    @include top(0);
                    @include left(0);

                    animation: fuwa1 2s linear 0s infinite alternate;
                }

                &--2 {
                    @extend %__item;

                    // transform: rotate(9.6deg);
                    @include top(40px, 30vw);
                    @include right(0);

                    animation: fuwa2 2s linear 0s infinite alternate;
                }

                &--3 {
                    @extend %__item;

                    // transform: translateX(-50%) rotate(-9.6deg);
                    @include bottom(40px,0);
                    @include left(24%,0);

                    animation: fuwa3 2s linear 0s infinite alternate;

                    @include max(s) {
                        transform: rotate(-9.6deg);
                    }
                }
            }

            &__emph {
                @include fontSize(45.53px, 7vw);
            }
        }

        .next {
            font-weight: bold;
            @include fontSize(52.47px, 7vw);

            @include max(s) {
                text-align: left;
            }
        }
    }


    @keyframes fuwa1 {
        0% {
            transform: rotate(-10.6deg) scale(0.9);
        }
        100% {
            transform: rotate(-8.6deg) scale(1);
        }
    }
    @keyframes fuwa2 {
        0% {
            transform: rotate(10.6deg) scale(0.9);
        }
        100% {
            transform: rotate(8.6deg) scale(1);
        }
    }
    @keyframes fuwa3 {
        0% {
            transform: rotate(-10.6deg) scale(0.9);
        }
        100% {
            transform: rotate(-8.6deg) scale(1);
        }
    }

}//.fw
