@charset "utf-8";

.fw {

    .p-kv {
        border-top: 1px solid #000;
        @include pt(50px);
        @include pb(236+80px);
        background-image: url('./../images/kv/bg.jpg');
        background-repeat: no-repeat;
        background-size: auto;
        background-position: center bottom;

        .lead {
            @include fontSize(38px);
            font-weight: bold;
            @include mb(60px);
            color: #F15A24;
            text-align: center;
        }

        .kvBox {
            @include flexBase($wrap: "nowrap", $direction: "row", $justify: "space-between", $align: "stretch");
            @include pd(0 60px);

            .title {
                line-height: 1.3;

                &__upper {
                    @include fontSize(58px);
                    display: block;
                    font-weight: bold;
                }

                &__under {
                    @include fontSize(74px);
                    display: block;
                    font-weight: bold;

                    &::after {
                        content: url('../images/kv/icon.png');
                        display: inline-block;
                        line-height: 1;
                        vertical-align: text-top;
                        margin-left: 10px;
                    }
                }

                &__sub {
                    @include fontSize(36.84px);
                    @include mb(40px);
                }
            }

            .cover {
                flex: 0 0 235px;

                &__img {
                    box-shadow: 20px 20px 10px rgba(0,0,0,.25);
                }
            }
        }

    }


}//.fw
