@charset "utf-8";

.fw {

    // ----------------------------------------------------------
    // Other
    // ----------------------------------------------------------

    .a-text {

        &__emph {
            font-weight: bold;
        }
    }

    .a-color {

        &--yellow {
            color: #FCEE21;
        }
    }

    .a-font {

        &--bold {
            font-weight: bold;
        }

    }

    %__marker {
        background-image: linear-gradient(#FCEE21, #FCEE21);
        background-repeat: no-repeat;
        background-position-y: bottom;
        background-size: 100% .4em;
        // @include transition(1, ease-out, 0.5, background-size);
        // transition( $sec, $ease, $delay, $type )

    }

    .a-marker {
        @extend %__marker;

        &--under {
            @extend %__marker;

            background-size: 100% .2em;
            @include pb(.2em);
        }
    }

    .a-br {

        &--pc {
            
            @include max(s) {
                display: none;
            }

        }

        &--sp {
            display: none;

            @include max(s) {
                display: inline;
            }
        }
    }


}//.fw
