@charset "utf-8";

.fw {
// ---------------------------------------------------------------------------
//
// /sample/page.html
//
// ---------------------------------------------------------------------------
    .j-ani {

        opacity: 0;




        &.on {
            opacity: 1;

            transition: all 1s ease-out;

            @include max(s) {
                transition: all .75s ease-out;
    
            }
        }
    }

    .j-marker {

        &__10 {
            transition-delay: 1s;
        }

        &__20 {
            transition-delay: 2s;
        }

        &__30 {
            transition-delay: 3s;
        }

        &__40 {
            transition-delay: 4s;
        }

        &__50 {
            transition-delay: 5s;
        }
    }

}//.fw
