@charset "utf-8";

.fw {

	// ----------------------------------------------------------
	// Header
	// ----------------------------------------------------------
	.o-header {
		@include pd(20px 0);
		@include fontSize(14px);
	}


}//.fw
