@charset "utf-8";

// Font Family
//------------------------------------------------------------------------------

	$font_base: "Yu Gothic Medium","游ゴシック Medium",YuGothic,"游ゴシック体","ヒラギノ角ゴ Pro W3","メイリオ",sans-serif;


// Font Size
//------------------------------------------------------------------------------

	$font-size_base: 16;


// Line height
//------------------------------------------------------------------------------

	$line-height_base: 1.6;
