@charset "utf-8";


// Width
//------------------------------------------------------------------------------

	//全体横幅
	$width_main: 1000;

	//サイドコンテンツ横幅
	$width_side: 220;

	//メインコンテンツ横幅
	$width_contents: 744;


	// 1440 * X = 1001.16 / $container

	// X / 1440 = 1001.16 / $container

	// X = 1001.16 / $container * 1440
